theme "wvw"
default_layout "compact"
pane_frames false

keybinds {
    normal clear-defaults=true {
        bind "Ctrl t" {
            SwitchToMode "Tmux"
        }
    }

    tmux clear-defaults=true {
        bind "Esc" {
            SwitchToMode "Normal"
        }
        bind "g" {
            SwitchToMode "Locked"
        }
        bind "p" {
            SwitchToMode "Pane"
        }
        bind "t" {
            SwitchToMode "Tab"
        }
        bind "n" {
            SwitchToMode "Resize"
        }
        bind "h" {
            SwitchToMode "Move"
        }
        bind "s" {
            SwitchToMode "Scroll"
        }
        bind "o" {
            SwitchToMode "Session"
        }
    }
}

themes {
    wvw {
        // Slightly modified cappuccin-mocha
        // https://github.com/zellij-org/zellij/blob/489c4da5ffaf38526b76bad4ce09da63ae99331e/zellij-utils/assets/themes/catppuccin.kdl#L47
        bg "#121212"
        fg "#cdd6f4"
        red "#f38ba8"
        green "#a6e3a1"
        blue "#89b4fa"
        yellow "#f9e2af"
        magenta "#f5c2e7"
        orange "#fab387"
        cyan "#89dceb"
        black "#121212"
        white "#d5d5d5"
  }
}
